
### Moment ###
# Project for learning multiplatform technology.
bin/*
!/plugins
!/plugins/android.json
!/plugins/fetch.json
moment-jpp/plugins/*
moment-jpp/platforms/*
moment-jpp/node_modules/*

# WIP

# dependencies
moment-ddf/node_modules
moment-ddf/plugins/*
moment-ddf/platforms/*

# misc
.DS_Store
moment-ddf/.env

